{
  "extends": ["next","next/core-web-vitals"],
  "rules": {
    "no-unused-vars": "error",
    "react/no-unescaped-entities": "off",
    "@next/next/no-page-custom-font": "off",
    "import/no-anonymous-default-export": ["error", {
      "allowArray": true,
      "allowArrowFunction": false,
      "allowAnonymousFunction": false,
      "allowLiteral": false,
      "allowObject": true
    }]
  }
}
